.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: #f7fafc;
    padding: 0 28px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo{
    font-size: 3rem;
}
.categories {
    display: flex;
    align-items: center;
    gap: 28px;
}
.categories-items {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding-bottom: 8px;
}
.categories-items-name {
    letter-spacing: 0.05em;
}
.selected {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-color: #000;
}
.usermenu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

}
.openmenu {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(156, 163, 175, 05);
    width: 150px;
    top: 64px;
    right: 0;

}
.openmenu-user {
    font-size: 1.125rem;
    padding: 0.5rem 0.75rem;
    background-color: #f7fafc;
    cursor: pointer;
}